span.circle {
    background: #e3e3e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #6e6e6e;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    margin-inline-end: 5px;
    text-align: center;
    inline-size: 40px;
  }

  a { text-decoration: none; }
